.node-select-side-bar {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebebeb;
    padding: 20px;
}

.node-type {
    padding: 4px 10px;
    /* user-select: none; */
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    margin-bottom: 10px;
    cursor: move;
}